body {
    color: black;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    background-color: paleturquoise;
    align-items: center;
    
}

.title {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: palevioletred;
    font-weight: bold;
}

.image{
    width: 200px;
    height: 200px;
    align-self: center;
}

.post {
    box-shadow: 10px 5px 5px lightgrey;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    margin: 20px;
    margin-bottom: auto;
    background-color: white;
    overflow: scroll;
    text-align: center;
    padding: 10px;

}

/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Unica One', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Oranienbaum', serif;
font-family: 'Nova Mono', monospace;
font-family: 'Englebert', sans-serif; */