body {
    color: cornflowerblue;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#container {
    display: flex;
    flex-direction: column;
}

.image{
    width: 200px;
    height: 200px;
}

.post {
    border: 2px solid black;
}

/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Unica One', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Oranienbaum', serif;
font-family: 'Nova Mono', monospace;
font-family: 'Englebert', sans-serif; */